	body { font-family: 'Maven Pro', sans-serif;}
	header { font-family: 'Lobster', sans-serif; background-color: #FF7B00; padding: 0.2em 0.6em 0.2em 1em; border-bottom: 2px solid #9FC2D9; text-shadow: 2px 2px 3px rgba(159, 194, 217, 0.7);}
	h3 { font-family: 'Arimo', sans-serif; color: #767676;}
	footer { text-align: center; border-top: 2px solid #9FC2D9; margin-top: 2em;}
